
<script src="/scripts/three/build/three.js"></script>
<script src="/scripts/three/examples/js/loaders/GLTFLoader.js"></script>
<script src="/scripts/dat.gui/build/dat.gui.min.js"></script>
<script type="module" src="/scripts/three/src/core/Clock.js"></script>
<script src="/scripts/howler/src/howler.core.js"></script>

<script>

/*
	* Creation of fundamentals variables for the scene and the geometries, with the firstPerson boolean, sizes and speeds.
	*/

// Very basic background, ennemy and boss changes.
var stageLevel = "<%= level %>";
var spriteEnnemy = 'textures/spriteEnnemy'+stageLevel+'.png';
var spriteBoss = 'textures/spriteBoss'+stageLevel+'.png';
var spriteBackground = 'textures/spriteBackground'+stageLevel+'.png';
var audioBackgroundMusic = 'audio/backgroundMusic'+stageLevel+'.mp3';
var mutedSound = true;
Howler.mute(mutedSound);

var scene, camera, renderer, player, ground;
var width = window.innerWidth, height = window.innerHeight;

// We could adapt it with the size. 30*width/1920 could be useful to adapt the size.
var playerWidth = 62;
var playerHeight = 22 ;
var playerSpeedInitial = 2;
var playerSpeed = playerSpeedInitial;
var gui = new dat.GUI();

// We can add bossLife without showing it.
var gParams = {score: 0, playerLife: 5, bossLife: 150, muteSound: mutedSound}

gui.add(gParams, 'score').listen();
gui.add(gParams, 'playerLife').listen();
gui.add(gParams, 'muteSound').listen().onChange(function(){muteSound()});

function muteSound(boolean) {
	mutedSound = !mutedSound;
	Howler.mute(mutedSound);
	console.log(mutedSound);
}

// Boolean object for each key presses, to store their values (if pressed or not).
var keysPressed = {
	upKey:		false,
	downKey:	false,
	leftKey:	false,
	rightKey:	false
};

var clockSpawn = new THREE.Clock();
var clockFlag = false;
var timeSpawn = 3;

var clockCollision = new THREE.Clock();
var collisionFlag = false;
var invicibleTime = 1;

var ennemyWidth = 46;
var ennemyHeight = 32 ;
var ennemySpeed = 1.4;
var ennemyNumberSpawn = 1;
var ennemyArray = [];
var noMoreEnnemyFlag = false;

var upFlag = false;

var boss;
var bossWidth = 230;
var bossHeight = 220 ;
var bossArrived = false;
var clockBossMissile = new THREE.Clock();
clockBossMissile.autoStart = false;
var clockBossMissileFlag = false;
var timeBossMissile = 1;
var bossMissileArray = [];
var bossMissileSpeed = 3;
var bossMissileNumber = 2;


var missileWidth = 24;
var missileHeight = 16 ;
var missileSpeed = 4;
var missileMaxInitial = 5;
var missileMax = missileMaxInitial;
var missileArray = [];

var bonusWidth = 32;
var bonusHeight = 28 ;
var bonusSpeed = 6;

var clockSpawnMissileBonus = new THREE.Clock();
var timeSpawnMissileBonus = 25;

var clockSpawnSpeedBonus = new THREE.Clock();
// To prevent the clock from autostarting.
clockSpawnSpeedBonus.autoStart = false;
var timeSpawnSpeedBonus = 30;

var clockTimeBonus = new THREE.Clock();
clockTimeBonus.autoStart = false;
timeBonus = 5;
var bonusArray = [];

var clockIncreaseDifficulty = new THREE.Clock();
var timeIncreaseDifficulty = 20;

var clockTimeBoss = new THREE.Clock();
var timeBossFlag = false;
var timeBoss = 90;

var texturePlayer = new THREE.TextureLoader().load('textures/spritePlayer.png');
texturePlayer.magFilter = THREE.NearestFilter;
var textureEnnemy = new THREE.TextureLoader().load(spriteEnnemy);
textureEnnemy.magFilter = THREE.NearestFilter;
var textureMissile = new THREE.TextureLoader().load('textures/spriteMissile.png');
textureMissile.magFilter = THREE.NearestFilter;
textureMissile.name = "missile"
var textureMissileBonus = new THREE.TextureLoader().load('textures/spriteMissileBonus.png');
textureMissileBonus.magFilter = THREE.NearestFilter;
// We give a name to ours bonuses to differenciate them easily.
textureMissileBonus.name = "missileBonus";
var textureSpeedBonus = new THREE.TextureLoader().load('textures/spriteSpeedBonus.png');
textureSpeedBonus.magFilter = THREE.NearestFilter;
textureSpeedBonus.name = "speedBonus";
var textureBoss = new THREE.TextureLoader().load(spriteBoss);
textureBoss.magFilter = THREE.NearestFilter;
var textureMissileBoss = new THREE.TextureLoader().load('textures/spriteMissileBoss.png');
textureMissileBoss.magFilter = THREE.NearestFilter;
textureMissileBoss.name = "missileBoss"

var backgroundMusic = new Howl({ src: [audioBackgroundMusic], loop: true, autoplay: true });
var bossBattle = new Howl({ src: ['audio/bossBattle.mp3'], loop: true });
var hitAudio = new Howl({ src: ['audio/damage.mp3'], volume: 1.6 });
var missileAudio = new Howl({ src: ['audio/missile.mp3'], volume: 0.4 });
var explosionAudio = new Howl({ src: ['audio/explosion.mp3'], volume: 0.6 });
var explosionPlayerAudio = new Howl({ src: ['audio/explosionPlayer.mp3'], volume: 0.6 });
var bonusAudio = new Howl({ src: ['audio/bonus.mp3'], volume: 0.6 });
var endBonusAudio = new Howl({ src: ['audio/endBonus.mp3'], volume: 0.6 });
var victoryTheme = new Howl({ src: ['audio/victoryTheme.mp3'], volume: 0.6 });

init();

/*
	* Initialize the scene, camera, renderer, player, grounds and clocks, with loading the glb file.
	*/
function init() {
	scene = new THREE.Scene();
	camera = new THREE.OrthographicCamera(width/-5, width/5, height/5, height/-5, 1, 1000);
	renderer = new THREE.WebGLRenderer();
	renderer.setSize(width, height);
	document.body.appendChild(renderer.domElement);

	// This value is the minimal to keep track of our player.
	camera.position.z = 2;
	scene.add(camera);

	var geometry = new THREE.BoxGeometry(playerWidth, playerHeight, 1);
	var material = new THREE.MeshBasicMaterial({map: texturePlayer, transparent: true});
	player = new THREE.Mesh(geometry, material);
	scene.add(player);

	boss = createBoss();

	var groundGeometry = new THREE.BoxGeometry(height, height, 0.01);
	var groundTexture = new THREE.TextureLoader().load(spriteBackground);
	// groundTexture.magFilter = THREE.NearestFilter;
	groundTexture.wrapT = THREE.RepeatWrapping;
	groundTexture.wrapS = THREE.RepeatWrapping;
	groundTexture.repeat.set(4, 4);
	var groundMaterial = new THREE.MeshBasicMaterial({ map : groundTexture });
	ground = new THREE.Mesh(groundGeometry, groundMaterial);
	scene.add(ground);

	document.addEventListener("keydown", function(e) {
		var keyCode = e.which;
		// Using a switch for better readability.
		switch (keyCode) {
			// Up
			case 38: keysPressed.upKey = true; break;
			// Z
			case 90: keysPressed.upKey = true; break;
			// Down
			case 40: keysPressed.downKey = true; break;
			// S
			case 83: keysPressed.downKey = true; break;
			// Right
			case 39: keysPressed.rightKey = true; break;
			// D
			case 68: keysPressed.rightKey = true; break;
			// Left
			case 37: keysPressed.leftKey = true; break;
			// Q
			case 81: keysPressed.leftKey = true; break;

			// Shift, we don't use a flag because it would be too easy to just maintain shift and launch thousands missiles.
			// We limit our missiles to keep the game fair.
			case 69:
				var index = createMissile(player, textureMissile);
				if (index != -1)
					missileArray.push(index);
		}
	}, false);

	// Here we just put our values to false.
	document.addEventListener("keyup", function(e) {
		var keyCode = e.which;
		switch (keyCode) {
			case 38: keysPressed.upKey = false; break;
			case 90: keysPressed.upKey = false; break;
			case 40: keysPressed.downKey = false; break;
			case 83: keysPressed.downKey = false; break;
			case 39: keysPressed.rightKey = false; break;
			case 68: keysPressed.rightKey = false; break;
			case 37: keysPressed.leftKey = false; break;
			case 81: keysPressed.leftKey = false; break;
		}
	}, false);

	clockSpawn.start();

	clockSpawnMissileBonus.start();

	clockIncreaseDifficulty.start();

	clockTimeBoss.start();

	// Launching the animate function at the end of our initialization.
	animate();
}

/* 
	* Return a random color value in hexadecimal
	* @returns	{int}		color	- The random color
	*/
function randomColor() {
	let color = "0x";
	for(let i=0; i<6; i++) {
		let number = Math.round((Math.random()*14)+1);
		switch (number) {
			case 10: number = 'A'; break;
			case 11: number = 'B'; break;
			case 12: number = 'C'; break;
			case 13: number = 'D'; break;
			case 14: number = 'E'; break;
			case 15: number = 'F'; break;
		}
		color += number;
	}
	// We need to convert our string to a number.
	return parseInt(color);
}

/*
* Function that let our player move with a collision detection and detecting if the player was damaged.
*/
function movementPlayer() {
	// If our player touches an ennemy.
	if (hasDetectedEnnemy(player) != -1 || (bossArrived &&  hasDetected(player, boss))) {
		// We again use a flag to give our player an invicible frame, one second, where he can move and safely recover, just like in retro video games.
		if (!collisionFlag) {
			hitAudio.play();
			gParams.playerLife--;
			// We launch this clock, to be sure we won't exceed one second.
			clockCollision.start();
			collisionFlag = true;
		}

		else {
			// Using this function we can extract the second number from our clock.
			let time = new Date(clockCollision.getElapsedTime() *1000).toISOString().substr(18, 1);
			// We can then compare it to our invicibleTime value, to give the player in this example one second of invicibility.
			if (time > invicibleTime) {
				collisionFlag = false;
				// We need to stop the clock, it will be started when the player gets hit.
				clockCollision.stop();
			}
		}
	}
	
	// With our keysPressed object we verify each of his attributes, with if and not else if to allow
	// multiples movements.

	// Going forward.
	if (keysPressed.upKey)
		if (player.position.y < height/2*0.35)
			player.translateY(playerSpeed);
	
	// Turning back.
	if (keysPressed.downKey)
		if (player.position.y > -height/2*0.35)
			player.translateY(-playerSpeed);
	
	// Going left.
	if (keysPressed.leftKey)
		if (player.position.x > -width/2*0.35)
			player.translateX(-playerSpeed);

	// Going right.
	if (keysPressed.rightKey)
		if (player.position.x < width/2*0.35)
			player.translateX(playerSpeed);
}

/* 
	* Create an ennemy with a BoxGeometry
	* @returns	{THREE.Mesh}	ennemy	- The address of our Mesh to modify it later in the code.
	*/
function createEnnemy() {
	var geometry = new THREE.BoxGeometry(ennemyWidth, ennemyHeight, 0.1);
	var material = new THREE.MeshBasicMaterial
	({ map: textureEnnemy, color : randomColor(), transparent: true });
	var ennemy = new THREE.Mesh(geometry, material);
	scene.add(ennemy);
	ennemy.position.x = width/4;

	// We use a temporary value to store 35% of the height divided by 2, to keep our ennemies in our playable area.
	let heightAdjusted = (height/2)*0.35;
	ennemy.position.y = (Math.random()*(heightAdjusted - -heightAdjusted) + -heightAdjusted);
	return ennemy;
}

/* 
	* Create a missile with a BoxGeometry that is pushed to the array. We limit the numbers of missiles with missileMax.
	* @param	{THREE.Object3D}	ship		- The adress of our Object3D to specify which missile we create.
	* @param	{THREE.Texture}		texture		- The texture we want to apply on the bonus.
	* @returns	{THREE.Mesh}		missile		- The adress of our Mesh to modify it later in the code.
	*/
function createMissile(ship, texture) {
	// If we are creating missiles for the player.
	if (texture.name == "missile") {
		if (missileArray.length < missileMax) {
			var geometry = new THREE.BoxGeometry(missileWidth, missileHeight, 0.1);
			var material = new THREE.MeshBasicMaterial({map: texture, transparent: true});
			var missile = new THREE.Mesh(geometry, material);
			scene.add(missile);
			// We play the missileAudio only if explosionAudio is not played to reinforce the sound effect.
			if (!explosionAudio.playing())
				missileAudio.play();
			missile.position.x = ship.position.x;
			missile.position.y = ship.position.y;
			return missile;
		}
		return -1;
	}

	// If we are creating missiles for the Boss.
	else {
		var geometry = new THREE.BoxGeometry(missileWidth*2, missileHeight*2, 0.1);
		var material = new THREE.MeshBasicMaterial({map: texture, transparent: true});
		var missile = new THREE.Mesh(geometry, material);
		scene.add(missile);
		// We play the missileAudio only if explosionAudio is not played to reinforce the sound effect.
		if (!explosionAudio.playing())
			missileAudio.play();
		missile.position.x = ship.position.x;
		let heightAdjusted = (height/2)*0.35;
		missile.position.y = (Math.random()*(heightAdjusted - -heightAdjusted) + -heightAdjusted);
		return missile;
	}
}

/* 
	* Create a bonus with a BoxGeometry that is pushed to the array. We create a specific bonus with the texture.name
	* @params	{THREE.Texture}	texture		- The texture we want to apply on the bonus.
	* @returns	{THREE.Mesh}	bonus		- The adress of our Mesh to modify it later in the code.
	*/
function createBonus(texture) {
		var geometry = new THREE.BoxGeometry(bonusWidth, bonusHeight, 0.1);
		var material = new THREE.MeshBasicMaterial({map: texture, transparent: true});
		var bonus = new THREE.Mesh(geometry, material);
		bonus.position.x = width/4;
		let heightAdjusted = (height/2)*0.35;
		bonus.position.y = (Math.random()*(heightAdjusted - -heightAdjusted) + -heightAdjusted);
		scene.add(bonus);
		return bonus;
}

/* 
	* Create a boss with a BoxGeometry
	* @returns	{THREE.Mesh}	boss	- The address of our Mesh to modify it later in the code.
	*/
function createBoss() {
	var geometry = new THREE.BoxGeometry(bossWidth, bossHeight, 0.1);
	var material = new THREE.MeshBasicMaterial({map : textureBoss, transparent : true});
	var boss = new THREE.Mesh(geometry, material);
	boss.position.x = width/2*0.60;
	scene.add(boss);
	return boss;
}

/*
* Function that verfies if an object with another object.
* @param	{THREE.Mesh}	object1	- The mesh of the first object. Could be a player, a missile, a bonus.
* @param	{THREE.Mesh}	object2	- The mesh of the second object. Could be a player, a missile, a bonus.
* @returns	{boolean}		boolean	- The boolean of if there was an intersection.
*/
function hasDetected(object1, object2) {
	let boxObject1 = new THREE.Box3().setFromObject(object1);
	let boxObject2 = new THREE.Box3().setFromObject(object2);
	return boxObject1.intersectsBox(boxObject2)
}

/*
* Function that verfies if an object with an ennemy.
* @param	{THREE.Mesh}	object	- The mesh of the object. Could be a player, a missile.
* @returns	{int}			index	- The index of the ennemy detected.
*/
function hasDetectedEnnemy(object) {
	let boxObject = new THREE.Box3().setFromObject(object);
	for (let i = 0; i < ennemyArray.length; i++) {
		let boxElement = new THREE.Box3().setFromObject(ennemyArray[i]);
		if (boxElement.intersectsBox(boxObject)) {
			// If we find an intersection we return the index, to use it on other functions.
			return i;
		}
	}
	// If there wasn't any collisions we return a wrong index.
	return -1;
}

/*
* Function that converts Date to simple int.
* @param	{Date}	date	- The Date we want to convert.
* @returns	{int}	temp	- The converted int.
*/
function convertTimeToInt(date) {
	let temp = 0;
	let minutes = date[0];
	switch (minutes) {
		case "1": temp = 60;
	}
	temp += Number(date.substr(2, 2));
	return temp;
}

/*
	* Function that launch 60 times a second (if 60Hz screen)for launching the function moving our player
	* and updating our GUI clock, then rendering our scene.
	*/
function animate() {
	if (gParams.playerLife != 0 && gParams.bossLife != 0) {
		// We are counting to see if we arrived at the time where the boss needs to arrive.
		// We convert seconds and minutes to simplier int (1m00s would be 60).
		let timeBossTotal = convertTimeToInt((new Date(clockTimeBoss.getElapsedTime()*1000).toISOString().substr(15, 4)));
		
		if (timeBossTotal > timeBoss-1) {
			clockTimeBoss.stop();
			clockTimeBoss.elapsedTime = 0;
			timeBossFlag = true;
		}

		// If we are not in the the boss time we can spawn ennemies
		if (!timeBossFlag) {
			// We are using a flag to separate our ennemy spawning.
			if (!clockFlag) {
				// We push in our array our new ennemy and put our flag at true.
				// We can use this for loop to add more ennemies to increase difficulties.
				for (let i = 0; i < ennemyNumberSpawn; i++) 
					ennemyArray.push(createEnnemy());
				clockFlag = true;
			}
			else {
				// Using this function we can extract the second number from our clockSpawn.
				let time = new Date(clockSpawn.getElapsedTime() *1000).toISOString().substr(18, 1);

				// We can then compare it to our timeSpawn value, to change the timing between each ennemies.
				if (time > timeSpawn) {
					// We need to stop the clockSpawn to reset it.
					clockFlag = false;
					clockSpawn.stop();
					clockSpawn.start();
				}
			}

			// We increase the difficulty by accelerating the ennemies and increasing they spawning time.
			if (new Date(clockIncreaseDifficulty.getElapsedTime()*1000).toISOString().substr(17, 2) > timeIncreaseDifficulty-1) {
				clockIncreaseDifficulty.stop();
				clockIncreaseDifficulty.elapsedTime = 0;
				if (timeSpawn < 1 )
					timeSpawn -= 1;
				ennemyNumberSpawn += 1;
				clockIncreaseDifficulty.start();
			}
		}

		// When use an else statement to force the game to destroy all the ennemies before introducing the boss.
		else {
			// If we have no more ennemies before the boss can arrive
			if (ennemyArray.length == 0 && noMoreEnnemyFlag == false)
				noMoreEnnemyFlag = true;

			// Then we can stop the background music and play the bossBattle theme.
			if (noMoreEnnemyFlag == true) {
				backgroundMusic.stop();
				if (!bossBattle.playing())
					bossBattle.play();
			}

			// When the boss theme is arriving we can bring him
			if (bossBattle.playing()) {
				// We stop the boss at width/2*0.25 when he enters the level.
				if (boss.position.x > width/2*0.25)
					boss.translateX(-0.5);
				else if (!bossArrived) {
					bossArrived = true;
					gui.add(gParams, 'bossLife').listen();
					clockBossMissile.start();
				}
			}
		}

		// When the boss is in our board we can now limit the time before each missiles. 
		// The less life he has the more missiles he can send.
		if (bossArrived) {
			if (new Date(clockBossMissile.getElapsedTime()*1000).toISOString().substr(17, 2) > timeBossMissile-1) {
				clockBossMissile.stop();
				clockBossMissile.elapsedTime = 0;
				for (let i = 0; i < bossMissileNumber; i++) 
					bossMissileArray.push(createMissile(boss, textureMissileBoss));
				clockBossMissile.start();
			}
		}

		// We use forEach to go through all elements of our array and translate the speed variable.
		ennemyArray.forEach(function(element, i) {
			if (element.position.x < -width/2*0.38) {
				scene.remove(element);
				ennemyArray.splice(i, 1);
			}
			element.translateX(-ennemySpeed);
		});

		// Like the ennemies we translate them and verifies if they are outside the playable area and view to avoid killing an ennemy that has not arrived.
		missileArray.forEach(function(element, i) {
			if (element.position.x > width/2*0.38) {
				scene.remove(element);
				missileArray.splice(i, 1);
			}

			// We only verify if we are hitting ennemies when we are not against the boss.
			if (!bossArrived) {
				let ennemyIndex = hasDetectedEnnemy(element);

				// If our missile touched an ennemy
				if (ennemyIndex != -1) {
					// To limit our explosionAudio sounds.
					if (!explosionAudio.playing())
						explosionAudio.play();
					
					// We remove the current missile and delete it from our array.
					scene.remove(element);
					missileArray.splice(i, 1);

					// We remove our ennemy from the scene and the array.
					scene.remove(ennemyArray[ennemyIndex]);
					ennemyArray.splice(ennemyIndex, 1);
					gParams.score += 200;
				}
			}
			else {
				if (hasDetected(element, boss)) {
					if (!explosionAudio.playing())
						explosionAudio.play();
					scene.remove(element);
					gParams.bossLife -= 1;
					if (gParams.bossLife == 0)
						return;
					missileArray.splice(i, 1);
					gParams.score += 100;
				}
			}

			element.translateX(missileSpeed);
		});

		bossMissileArray.forEach(function(element, i) {
			if (element.position.x < -width/2*0.38) {
				scene.remove(element);
				bossMissileArray.splice(i, 1);
			}
			
			// If the boss missiles hit the player.
			if (hasDetected(element, player)) {
				if (!explosionAudio.playing())
					explosionAudio.play();
				scene.remove(element)
				bossMissileArray.splice(i, 1);

				// If the missiles hit the ennemy we are removing lifepoints of the player/
				if (!collisionFlag) {
					hitAudio.play();
					gParams.playerLife--;
					clockCollision.start();
					collisionFlag = true;
				}
				else {
					let time = new Date(clockCollision.getElapsedTime() *1000).toISOString().substr(18, 1);
					if (time > invicibleTime) {
						collisionFlag = false;
						clockCollision.stop();
					}
				}
			}
			element.translateX(-bossMissileSpeed);
		});

		// We use two clocks to define when we have to create these various bonuses.
		if (new Date(clockSpawnMissileBonus.getElapsedTime()*1000).toISOString().substr(17, 2) > timeSpawnMissileBonus-1) {
			// Create MissileBonus. We need to put the elapsedTime to 0 or else we would have an infinite creation of MissileBonuses.
			clockSpawnMissileBonus.stop();
			clockSpawnMissileBonus.elapsedTime = 0;
			bonusArray.push(createBonus(textureMissileBonus));
			clockSpawnSpeedBonus.start();
		}

		if (new Date(clockSpawnSpeedBonus.getElapsedTime() *1000).toISOString().substr(17, 2) > timeSpawnSpeedBonus-1) {
			// Create SpeedBonus
			clockSpawnSpeedBonus.stop();
			
			clockSpawnSpeedBonus.elapsedTime = 0;
			bonusArray.push(createBonus(textureSpeedBonus));
			clockSpawnMissileBonus.start();
		}

		// End of bonuses.
		if (new Date(clockTimeBonus.getElapsedTime() *1000).toISOString().substr(17, 2) > timeBonus) {
			// We compare with these initial values to detect the change.
			if (playerSpeed != playerSpeedInitial)
				playerSpeed = playerSpeedInitial
			else if (missileMax != missileMaxInitial)
				missileMax = missileMaxInitial

			// We play a reversed and shorter version of the bonusAudio to tell the player he lost his upgraded abilities.
			if (!endBonusAudio.playing())
				endBonusAudio.play();
			clockTimeBonus.stop();
			clockTimeBonus.elapsedTime = 0;
		}

		// Like the ennemies and the missiles we translate them and verifies if they are outside the playable area.
		bonusArray.forEach(function(element, i) {
			if (element.position.x < -width/2*0.38) {
				scene.remove(element);
				bonusArray.splice(i, 1);
			}

			if (hasDetected(element, player)) {
				// To limit our explosionAudio sounds.
				if (!bonusAudio.playing())
					bonusAudio.play();
				clockTimeBonus.start();
				// We identify which was the bonus with the added names on the textures.
				if (element.material.map.name == "missileBonus")
					missileMax *= 2; 
				else if (element.material.map.name == "speedBonus")
					playerSpeed *= 2;
				scene.remove(element);
				bonusArray.splice(i, 1);
				gParams.score += 400;
			}
			element.translateX(-bonusSpeed);
		});

		// To move our background texture.
		ground.material.map.offset.x += 0.005;
		movementPlayer()
		requestAnimationFrame(animate);
		renderer.render(scene, camera);
	}

	else if (gParams.bossLife == 0) {
		backgroundMusic.stop();
		bossBattle.stop();
		explosionPlayerAudio.play();

		setTimeout(function() {
			victoryTheme.play();
			// We for the end of the explosionPlayerAudio to print the score and restart the game.
		}, explosionPlayerAudio.duration()*1000);

		setTimeout(function() {
			alert("You won ! You're score was " + gParams.score);
			window.location.reload();
		}, explosionPlayerAudio.duration()*1000 + victoryTheme.duration()*1000);

	}

	else {
		// If the player dies we stop the music, launch 
		backgroundMusic.stop();
		bossBattle.stop();
		explosionPlayerAudio.play();

		// We for the end of the explosionPlayerAudio to print the score and restart the game.
		setTimeout(function() {
			alert("You're dead. You're score was " + gParams.score);
			window.location.reload();
		}, explosionPlayerAudio.duration()*1000);
	}
}

</script>
