<div class="container p-3 p-md-5">
	<div class="row">
		<img class="mx-auto d-block" src="textures/flightFighterThreeJS.png">
	</div>

	<br>

	<div class="row">
		<div class="col-6">
			<a href="/stage?level=1">
				<img class="mx-auto d-block img-fluid" alt="Space" src="textures/spriteBackground1.png">
			</a>
		</div>
		<div class="col-6">
			<a href="/stage?level=2">
				<img class="mx-auto d-block img-fluid" alt="Space" src="textures/spriteBackground2.png">
			</a>
		</div>
	</div>

	<div class="row">
		<ul class="mx-auto d-block" style="text-align: center;">
			<li>Up or Z : Going forward.</li>
			<li>Left or Q : Left rotation.</li>
			<li>Down or S : Turning back.</li>
			<li>Right or D : Right rotation.</li>
			<li>E : Shot missiles.</li>
		</ul>
	</div>
</div>
